<section>
	<div class="main-picture">
		<div class="main-image"></div>
		<div class="right-box">
			<h1>
			<center id="box" >VividKick</center>
			</h1>
			<p>
				<h3>Lightroom Presets</h3>
			</p>
			<p>
				<h4 id="edit">Edit photos to your liking<h4>
			</p>
			<center>
				<%= link_to "Browse", templates_path, class: "btn btn-primary" %>
			</center>
			
		</div>
	</div>	
</section>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<center>
				<h2 id="title"><%= link_to "Lightroom Presets", templates_path %></h2>
			</center>	
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<br>	
</div>	

	<div class="row" id="templates">
		<% @products.each do |product| %>
		<div class="col-md-3">
			<a href="<%= product_path(product) %>">
				<div class="product-image-container">
					<img src="<%= asset_path product.image_name %>" id="picture"/>
					<br>
					<br>
					<center>
						<button class="btn btn-primary">BUY NOW $<%= product.price %></button>
					</center>
				</div>	
			</a>
		</div>
		<br>
		<% end %>
	</div>
	<br>
	<br>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<ul><em class="glyphicon glyphicon-ok"> Vividkick allows you to edit your photos to your liking</em></ul>
			<ul><em class="glyphicon glyphicon-ok"> And Vividkick can do this</em></ul>
			<ul><em class="glyphicon glyphicon-ok"> And Vividkick can do this</em></ul>
		</div>
	</div>
</div>





