  <div>
      <center>
          <h1><%= @product.title %> - $<%= @product.price %></h1> 
      </center>   
  </div>
  <div class="container">
      <div class="row">
          <div class="">
              <img src="<%= asset_path @product.image_name %>  ">
          </div>
      </div>   
  </div>
  <br>
  <div class="container">
      <%= form_tag charges_path, id:'chargeForm' do %>

          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>

        <script src="https://checkout.stripe.com/checkout.js"></script>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'amount', @product.price_in_cents %>
        <%= hidden_field_tag 'stripeEmail' %>
        <%= hidden_field_tag 'product_id', @product.id %>

        <center>
            <button id="btn-buy" type="button" class="btn btn-primary"><h4>Buy This!</h4></button>
        </center>
        

      <script>
            var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:publishable_key] %>',
              token: function(token, arg) {
                document.getElementById("stripeToken").value = token.id;
                document.getElementById("stripeEmail").value = token.email;
                document.getElementById("chargeForm").submit();
              }
        });
        document.getElementById('btn-buy').addEventListener('click', function(e) {
              handler.open({
                name: 'One month',
                description: '<%= @product.title %> ($<%= @product.price %>)',
                amount: 499
            });
            e.preventDefault();
           })
           </script>
      <% end %>
  </div>
          

 
            

	            
     


<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>




